<% if (theme.duoshuo_shortname && page.comments){ %>
<section id="comments" class="comment">
	<div class="ds-thread" data-thread-key="<%- page.path %>" data-title="<%- page.title %>" data-url="<%- page.permalink %>"></div>
</section>
<% } %>
<% if( (config.disqus_shortname || theme.disqus_shortname) && page.comments) { %>
<section id="comments" class="comment">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>
<% if (theme.gentie_key && page.comments){ %>
<div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
<% } %>
<% if (theme.changyan_appid && page.comments){ %>
<div id="SOHUCS" style="width: 95%;"></div>
<% } %>
<% if (theme.gitalk && theme.gitalk.enable){ %>
<section id="gitalk-container" class="comment"></section>
  <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
  <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
  <script>
    var gitalk = new Gitalk({
      clientID:  '<%= theme.gitalk.clientID %>',
      clientSecret: '<%= theme.gitalk.clientSecret %>',
      repo: '<%= theme.gitalk.repo %>',
      id: window.location.pathname,
      owner: '<%= theme.gitalk.owner %>',
      admin: '<%= theme.gitalk.admin %>',
      distractionFreeMode: '<%= theme.gitalk.distractionFreeMode %>',
    });
    gitalk.render('gitalk-container');
  </script>
<% } %>
